# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.env.*
*.env

# Distribution / packaging
*.egg-info/
dist/
build/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
